{% extends "::base.html.twig" %}

{% block title %} {{ nom_du_site }} | à propos {% endblock %}


{% block body %} 







<div class="main">
	 	 <div class="contact">				
					<div class="col-custom">
						<h2>Notre boutique à sébikotane</h2>
			    	 		<div class="map">
                                                    <img class="img-custom img-responsive" src="{{asset('images/facade.jpg')}}" alt="boutique jardiland" >
					        </div>
      				</div>
				  <div class="col-custom">
			 	  	 	<h2>Présentation</h2>
                                                <p>Jardiland Sénégal est une société basée à Sébikotane (quartier Darou Salam) 
                                                    sur la route nationale (RN1) à côté de la société de peinture Senac.
                                                </p>
                                                <p>
                                                    A gauche de la chaussée si vous venez de Dakar et à droite si vous venez de Thiès.
                                                </p>
                                                <p>
                                                    Jardiland Sénégal représente la marque Topland qui a fait ses preuves en termes 
                                                    de solidité et de durée de  vie dans le domaine des motopompes et de leurs pièces 
                                                    de rechange. Un accueil aimable vous est toujours réservé dans nos magasins ainsi 
                                                    que des conseils et des orientations dans vos choix de matériel agricole.
                                                </p>
			 	 	    
				    </div>
  				<div class="clear"></div>		
			  </div>
		</div>
</div>
</div>		

{% endblock %}